* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    /* border: solid 1px black; */
}

/* HEADER */

.container {
    margin: 0 auto;
}


.row, .col-hr, ul {
    display: flex; 
}



.logo-hr, ul, li {
margin: 0 10px;

}

.row {
    margin: 0 auto;
    justify-content: space-between;
    
}

.col-hr {
    height: 60px;
    align-items: center;
    margin: 0 10px;
   
    
}

li{
    list-style-type: none;
}

li span {
    color: grey;
}

/* utility */
.bt-blue{
    background-color: #0061ff;
    color: white;
    border: none;
    padding:10px;
    align-items: center;
}



/* utility */

MAIN
