* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    /* border: solid 1px black; */
}

/* HEADER */

.container {
    margin: 0 auto;
}

.row,
.col-hr,
ul {
    display: flex;
}

.logo-hr,
ul,
li {
    margin: 0 10px;

}

.row {
    margin: 0 auto;
    justify-content: space-between;

}

.col-hr {
    height: 60px;
    align-items: center;
    margin: 0 10px;
}

li {
    list-style-type: none;
}

li span {
    color: grey;
}


/* utility */
.bt-blue {
    background-color: #0061ff;
    color: white;
    padding: 5px;
    
}

/* utility */

/* MAIN */

/* jumbotron */

.jumbotron {
    background-color: #b4d0e7;
 }

.container-jb{
    margin: 0 auto;
    padding: 40px 0;
    width: 60%;
}

.row-mn {
    margin: 0 auto;
}

.col-100 h1 {
    font-size: 70px;
    margin-bottom: 30px;
}

.col-100 {
    width: 100%;
}

.col-65{
    width: 65%;
    margin: 0 auto;
}

.col-35{
    width: 35%;
    margin: 0 auto;
}
.content{
    width: 100%;
    margin: 0 auto;
}
.jumbotron .bt-blue{
    margin-bottom: 20px;
}

.jumbotron span{
    margin-bottom: 20px;
}


.jumbo img {
    width: 100%;
    margin: 0 auto;
}


span {
    display: block;
}

.content i{
    font-size: 40px;
}

/* main centrale---------------------------- */

.container-mn{
    margin: 0% auto;
    width: 75%;
}

.container-mn .row{
    justify-content: center;
}

.col-30{
    width: 30%;
    margin-top: 30px;
    margin: 0 auto;
    
}

.title{
    display: flex;
    border: solid 1px grey;    
}

.content-tab{
    border: solid 1px grey;
}

.content-tab ul{
    display: flex;
    flex-direction: column;
}

li span{
    display: inline;
}







